
.App {
  min-height: 100vh;

}

/* holds everything except .nav-bar */
.content-shell {
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  height: 6vh;
  display: flex;
  justify-content: space-around;
  width: fit-content;
  margin: auto;
  min-width: 50%;
}

.entity-list {
  min-height: 200px;
  width: fit-content;
  min-width: 150px;
  text-align: left;
  border: solid black;
}

.auth-page {
  width: 80vw;
  display: flex;
  justify-content: space-around;

}

.login-form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
}

/* UsersList */
.users-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.users-list li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  border: .3px solid deeppink;
}
.user-item-p {
  width: 12em;
  text-align: left;
  border-right: .5px solid #288;
  border-top: none;
  margin: 0 auto;
  display: inline-block;
  padding: 0.1em .15em 0 .3em;
}
.user-item-p:nth-child(2) {
  border: none;
}

/* deepart */
input[type='file'] {
  display: block;
  padding: .2em;
  border: .4px solid gray;
}
.deep-art-shell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.image-details {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}
.image-details p {
  padding: 0;
  margin: 0;
}
.post-image-btn {
  margin: 1em 0;
}